/* 
    Created on : Apr 18, 2023, 9:38:35 AM
    Author     : garymize
*/

.body {
    margin-top: 60px;
}

element.style {
}
body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}


@media (max-width: 767px){
    body, html {
        /*min-width: 480px;*/
    }
}

@media (max-width: 979px){
    body, html {
        /*min-width: 767px;*/
    }
}

body, html {
    font-family: 'Circe-Regular',"Lucida Grande", "Tahoma", "Verdana";
    color: #102254;
    font-size: 16px;
    line-height: 1.2;
    height: 100%;
    /*min-width: 1000px;*/
    word-break: break-word;
}

body {
    background-color: dimgray;
}

body {
    line-height: 1;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body,table,td,th,input,textarea,select
{
    /*font-family: Verdana sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.mm-title-logo {
    font-size: 28px;
    font-weight: bold;
    /*margin-bottom: 5px;*/
    /*margin-left: 5px;*/
    padding: 5px;
}

@media (max-width: 400px){
    display: none;
}

.mm-header-date {
    float: right;
    display: inline-block;
    top: -27px;
    position: relative;
    font-size: 18px;
}


header {
    min-height: 50px;
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    padding: 5px;
}

body {
    display: block;
    /*margin: 8px;*/
    /*margin-top: 60px;*/
    /*margin-left: 20px;*/
    /*width: 600px;*/
    /*width: calc(100vw - 39px);*/
    /*width: -webkit-calc(100vw - 39px);*/
}

/*.mm-container {
    min-height: 500px;
    min-width: 500px;
    width: 65%;
    margin: auto;
}*/

.required:after {
  content:" *";
  color: red;
}

input[type=text], input[type=password], input[type=tel], select 
{    	    	
    background-color: #f7f7f7;
    /*border: solid 1px lightgray;*/
    /*border-style: solid;*/
    border: none;
    padding: 11px 2px 0px 4px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    line-height: 31px;	
}

.std-field-width {
    width: 100%;
}

 .inputDisabled {
    border: none;
    opacity: 1.0;
}

.innerLabel {
    margin-top: 18px;
    position: absolute;
    margin-left: 4px;
}

button, [type=button], [type=submit] {
    line-height: 20px;
    font-size: 13px;
}

.login-button {
    /*-webkit-justify-content: center;*/ 
    line-height: 47px; 
    font-size: 33px;
}

.mm-header {
    min-height: 50px;
    width: 100%;    font-size: 24px;
    font-size: 24px;
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: lightgray;*/
}

.mm-center {
    padding: 10px 0;
}

.mm-vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mm-container {
    box-sizing: border-box;
    position: absolute;
     min-width: 400px; 
    width: calc(100vw - 1px);
    width: -webkit-calc(100vw - -1px);
    background-color: dimgray;
    min-height: 700px;
    /* max-height: 850px; */
    max-height: 1500px;
    /*min-height: 801px;*/
    height: 700px;
    /* height: 64vw; */
    border: 1px solid gray;
    padding-right: 0px;
    padding-top: 50px;
    margin-top: 0px;
    margin-left: 0px;
    /* overflow-y: auto;*/
}

.mm-canvas {
    /*min-height: 500px;*/
    /* min-width: calc(100vw - 40px); */
    max-height: 800px;
    /* height: 500px; */
    width: 85%;
    max-width: 500px;
    margin: auto;
    background-color: lightgray;
    padding: 20px;
    padding-bottom: 60px;}

@media (max-width: 699px){
    .mm-header-date {

        display: none;

    }
}

.display-only-input {
    background-color: transparent !important;
}